# 忽略文件列表
cards.cdb
script/
MDPro3-master-Tools-YGO Classes-ocgcore/

# 模型与训练日志
models/
runs/
__pycache__/
.vscode/
ai_thoughts/
replays/
replay_data/
system_logs/
web_data/
crash_report.txts
deploy_packages/
debug.log

# 卡组文件 
decks/

# Galatea 临时异步通讯文件
tmp_rollout_*.pt
tmp_weights_*.pt
tmp_rollout_*.pt.tmp

# python 打包环境
python_env/
一键包启动Webui.bat

# --- 允许提交引擎核心 ---
!ocgcore.dll
!ocgcore.so